<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    style="@style/Background">
    <mvvmcross.droid.support.v4.MvxSwipeRefreshLayout
        local:MvxBind="RefreshCommand RefreshListCommand"
        android:id="@+id/uiSwipeRefreshLayout"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="match_parent">
            <include
                layout="@layout/toolbar" />
            <Mvx.MvxListView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/uiListView"
                local:MvxItemTemplate="@layout/tasklistviewelement"
                local:MvxBind="ItemsSource Tasks; ItemClick ItemSelectedCommand" />
        </LinearLayout>
    </mvvmcross.droid.support.v4.MvxSwipeRefreshLayout>
</FrameLayout>